@inherits LayoutComponentBase
@using MudBlazor;

<PageTitle>confectionery-front</PageTitle>

<RadzenDialog />
<MudThemeProvider />
<MudSnackbarProvider />
<RadzenNotification />

<style>
    body {
        background: none !important;
    }
</style>

<MudLayout>
    <MudAppBar Dense="@dense" Style="background-color: #F2D4D7; padding-left: 0px;">
        <a href="#">
            <img src="images/logo.png" style="max-width:83px; max-height: 65px; margin-left: 0px;" />
        </a>
    </MudAppBar>
    <MudDrawer @bind-Open="@open" ClipMode="clipMode" Breakpoint="@breakpoint"
               PreserveOpenState="@preserveOpenState" Elevation="1" Variant="@DrawerVariant.Mini"
               OpenMiniOnHover="true">
        <MudNavMenu>
            <MudNavLink Href="/users" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.Person">Клиенты</MudNavLink>
            <MudNavLink Href="/biscuits" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Cake">Бисквиты</MudNavLink>
            <MudNavLink Href="/cookies"  Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Cookie">Печенья</MudNavLink>
            <MudNavLink Href="/fillings" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Icecream">Начинки</MudNavLink>
            <MudNavLink Href="/orders" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.AddTask">Добавить заказ</MudNavLink>
            <MudNavLink Href="/statistic" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Assessment">Статистика</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
</MudLayout>

<MudMainContent Class="pt-16 px-16">
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="margin-top: 20px;">
        @Body
    </MudContainer>
</MudMainContent>

@code {
    bool open = false;
    bool dense = false;
    bool preserveOpenState = false;
    Breakpoint breakpoint = Breakpoint.Lg;
    DrawerClipMode clipMode = DrawerClipMode.Never;

    void ToggleDrawer()
    {
        open = !open;
    }
}
