@inherits LayoutComponentBase

<PageTitle>confectionery-front</PageTitle>

<head>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
</head>

<MudLayout>
    <MudAppBar Dense="@dense" Style="background-color: #EBDACC; padding-left: 0px;">
        <a href="#">
            <img src="images/logo.png" style="max-width:83px; max-height: 65px; margin-left: 0px;" />
        </a>
    </MudAppBar>
    <MudDrawer @bind-Open="@open" ClipMode="clipMode" Breakpoint="@breakpoint"
               PreserveOpenState="@preserveOpenState" Elevation="1" Variant="@DrawerVariant.Mini"
               OpenMiniOnHover="true">
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.Person">Клиенты</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Cake">Бисквиты</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Cookie">Печенья</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Icecream">Начинки</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
    bool open = false;
    bool dense = false;
    bool preserveOpenState = false;
    Breakpoint breakpoint = Breakpoint.Lg;
    DrawerClipMode clipMode = DrawerClipMode.Never;

    void ToggleDrawer()
    {
        open = !open;
    }
}
